<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damonjess.doomsdayassistant">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ArenaOfDoomActivity"
            android:exported="false"
            android:label="Arena of Doom"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <service android:name=".FloatingButtonService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service android:name=".ScreenCaptureService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service android:name=".ResultsOverlayService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".ProjectionDataReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="SET_PROJECTION_DATA" />
            </intent-filter>
        </receiver>
    </application>
</manifest>